.s-container {
  padding: 4rem 0rem;
  display: flex;
  justify-content: center;
  background: #141a31;
}
.left-service {
  display: flex;

  flex-direction: column;
  gap: 2rem;
}

/* .Heading-Text{
  font-size: 1.4em ;
  
}

.Under-Heading-Text-Service-Page{
  font-size: 1.5vw ;
} */

.bluemark{
  top: 499px; /* Set Y coordinate */
  left: 851px; /* Set X coordinate */
  width: 1%;
}

.s-button {
  border-radius: 35.5px 35.5px 35.5px 0;
  width: 240px;
  background-color: #052b45;
  padding: 14px 40px 12px 30px;
  border: none;
  color: green;
}
.triangle-image {
  width: 400px;
}
.hand-image {
  width: 240px;
}
.right-service {
  position: relative;
}
.image-container {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
.s-we-provide {
  background-color: rgb(234, 252, 254);
}
.s-provide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.s-provide-container > h6 {
  color: rgb(109, 232, 249);
}
.s-provide-container > h2 {
  font-size: 2.5rem;
  color: black;
  width: 450px;

  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.main-card {
  width: 30%;
}
.s-card {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  border-radius: 30px;
}

.s-card .right-part {
  width: 50%;
}
.s-card .right-part h6 {
  color: black;
}
/* .card .left-part {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding-top: 1rem;
} */
/* .card .left-part > h6 {
  color: black;
  font-size: 1.5rem;
  width: 34%;
} */
.card-image {
  background-color: rgb(109, 232, 249);
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 41px 41px 41px 40px;
}
.card-image > img {
  height: 40px;
}
/* .card .right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.card .right-part p {
  width: 50%;
} */
.s-card .right-part .read-more {
  color: #000000;
  font-weight: 600;
}

.inner-text{
  color: #2a1111;
}

.WHYCHOOSEUS-TEXT{
  font-weight: 700;
}

/* .black-line {
  border: 2px solid black;
  border-radius: 5px 5px 0px 0px;
} */
.main-card {
  height: 396px;
  background-color: black;
  border-radius: 32px;
}
.s-information-container {
  padding-top: 5rem;
  display: flex;
  position: relative;
}
.right-s-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.right-s-info > h6 {
  color: #36e0f7;
}
.right-s-info > h2 {
  width: 70%;
  font-size: 2.5rem;
  text-align: center;
}
.right-s-info > p {
  color: #ffffff;
}
.quis-information > span {
  color: #ffffff;
}
.READMORE {
  width: 240px;
  border-radius: 35.5px 35.5px 35.5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #36e0f7;
  color: green;
  position: relative;
  margin-bottom: 2rem;
}
.container-icon {
  padding-left: 2rem;
  width: 40px;
  height: 50px;
  border-radius: 41px 41px 41px 40px;
  background-color: #ffffff;
}
/* .left-s-info > :nth-child(1) {
  width: 500px;
} */
/* .left-s-info > :nth-child(2) {
  width: 300px;

  position: absolute;
  bottom: 1rem;
} */
