.contain {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap : warp;
    padding : 30px;  
    overflow: hidden;
    
  }
  
  /* .h1{
    color: #ff0000;
  } */
  p{
    margin-top: 50px;
  }
  .contain .card {
    position: relative;
    max-width : 300px;
    height : 420px;  
    background-color : #a1a1ae;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(145, 127, 127, 0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
    overflow: hidden;
    
  }
  .contain .card:hover {
    height : 400px;   
    overflow: scroll;
    overflow-x: hidden;

  }
  ::-webkit-scrollbar{
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb {
    background: #174a89;
    border-radius: 100px;
  }
  
  .content h2{
    padding-top:100px;
  }
  .content h3{
    padding-bottom: 40px;
  }
  
  .contain .card .image {
    position : relative;
    width : 260px;
    height : 300px;
    
    /* top : -40%; */
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .contain .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .contain .card .content {
    height: 400px;
    position : relative;
    top : -100px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    margin-top: 120px;
    
    /* opacity : 0; */
    transition : 0.3s ease-in-out;
      
  }
  /* .image:hover{
    /* position : static; */
     /* overflow: scroll; */ */

  /* } */
  .contain .card:hover .content 
  {
     height: 400px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
     /* overflow: scroll; */
  }


